$opacity-level: 0.7;
$large-font-size: 17px;

.add-opacity-low {
    text-decoration: line-through;
    pointer-events: none;
    opacity: $opacity-level;
}

.increate-X-font-size {
    font-size: $large-font-size;
    font-weight: bold;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}