$font-size: 15px;
$background-modal-color: #fff;
$default-padding: 15px;
$black-color: #000;
$grey: #DCDCDC;
$transition-duration: 0.2s;
$transition-timing: ease;
$dark-grey-color: #C0C0C0;
$bgcolor-grey: rgba(0, 0, 0, .32);
$input-border: #8a8181;
$white: #fff;
$opacity-level: 0.7;
$large-font-size: 20px;
$active-navbar: #cccccc5e;
$yellow-color: #edcd6c;